
src/my-train/__pycache__/

src/my-train/optimized_prompts.jsonl

src/my-train/optimized_prompts_llama2_7b_res.jsonl

.claude/

src/__pycache__/

# *.png

*.jsonl

src/dolly_vicuna

src/report

src/resuilt pretrain

src/run_code.txt

src/save_resuilt

src/self_instruction_llama

src/self_instruction_vicuna

src/tmp

src/vicuna-llama

src/vicuna-vicuna

src/llama_vs_vicuna
src/verify_response
src/verify_winner

src/key.txt
src/key_all.txt

*.env

!src/testset/vicuna_eval.jsonl